In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/newsalla/Feuille de calcul sans titre - Feuille 2.csv

In [2]:
df = pd.read_csv('/kaggle/input/newsalla/Feuille de calcul sans titre - Feuille 2.csv')
df.head()

,Lacheb mohamed,Unnamed: 1,Unnamed: 2,"14-15, 15-16, 16-17"
0,Mokri Abdelghani,11-12,11-12,13-14
1,Ayachi rameh,17-18,17-18,NaN
2,Madani mouenis,"16-17, 17-18, 18-19","12-13, 13-14, 14-15, 15-16, 16-17",NaN
3,Aoun ayoub,"14-15, 15-16, 16-17, 17-18, 18-19","14-15, 15-16, 16-17, 17-18, 18-19","14-15, 15-16, 16-17, 17-18, 18-19"
4,SID IDRIS Omar,"12-13, 13-14, 14-15, 15-16, 16-17, 17-18, 18-19","17-18, 18-19","12-13, 13-14, 14-15, 15-16, 16-17, 17-18, 18-19"

In [3]:
df.columns

Index(['Lacheb mohamed', 'Unnamed: 1', 'Unnamed: 2', '14-15, 15-16, 16-17'], dtype='object')

In [4]:
df.rename(columns={'Unnamed: 1':'Sunday ','Unnamed: 2':'Tuesday','14-15, 15-16, 16-17':'Thursday','Lacheb mohamed':'full name'}, inplace=True)
df

,full name,Sunday,Tuesday,Thursday
0,Mokri Abdelghani,11-12,11-12,13-14
1,Ayachi rameh,17-18,17-18,NaN
2,Madani mouenis,"16-17, 17-18, 18-19","12-13, 13-14, 14-15, 15-16, 16-17",NaN
3,Aoun ayoub,"14-15, 15-16, 16-17, 17-18, 18-19","14-15, 15-16, 16-17, 17-18, 18-19","14-15, 15-16, 16-17, 17-18, 18-19"
4,SID IDRIS Omar,"12-13, 13-14, 14-15, 15-16, 16-17, 17-18, 18-19","17-18, 18-19","12-13, 13-14, 14-15, 15-16, 16-17, 17-18, 18-19"
...,...,...,...,...
125,ABID Abdelkader,"16-17, 17-18, 18-19","16-17, 17-18, 18-19",NaN
126,Ibrahim DAHADJ,"11-12, 12-13, 13-14, 14-15, 15-16, 16-17, 17-1...","11-12, 12-13, 13-14, 14-15, 15-16, 16-17, 17-1...","11-12, 12-13, 13-14, 14-15, 15-16, 16-17, 17-1..."
127,Ahmed Assem MEDDAH,18-19,18-19,NaN
128,Bekhouche mohamed amine,"14-15, 15-16, 16-17, 17-18, 18-19",NaN,"14-15, 15-16, 16-17, 17-18, 18-19"
129,Reguieg ali,"14-15, 15-16, 16-17","16-17, 17-18","14-15, 15-16, 16-17"

In [5]:
time_slots = {
    'Sunday': { '11-12': [], '12-13': [], '13-14': [], '14-15': [], '15-16': [], '16-17': [], '17-18': [], '18-19': [] },
    'Tuesday': { '11-12': [], '12-13': [], '13-14': [], '14-15': [], '15-16': [], '16-17': [], '17-18': [], '18-19': [] },
    'Thursday': { '11-12': [], '12-13': [], '13-14': [], '14-15': [], '15-16': [], '16-17': [], '17-18': [], '18-19': [] }
}
type(time_slots )

dict

### split the time slots on the three columns

In [6]:
df.columns = df.columns.str.strip()

In [7]:
# Replace NaN values with '0'
df[['Sunday','Tuesday','Thursday']] = df[['Sunday', 'Tuesday', 'Thursday']].fillna('0')

df

,full name,Sunday,Tuesday,Thursday
0,Mokri Abdelghani,11-12,11-12,13-14
1,Ayachi rameh,17-18,17-18,0
2,Madani mouenis,"16-17, 17-18, 18-19","12-13, 13-14, 14-15, 15-16, 16-17",0
3,Aoun ayoub,"14-15, 15-16, 16-17, 17-18, 18-19","14-15, 15-16, 16-17, 17-18, 18-19","14-15, 15-16, 16-17, 17-18, 18-19"
4,SID IDRIS Omar,"12-13, 13-14, 14-15, 15-16, 16-17, 17-18, 18-19","17-18, 18-19","12-13, 13-14, 14-15, 15-16, 16-17, 17-18, 18-19"
...,...,...,...,...
125,ABID Abdelkader,"16-17, 17-18, 18-19","16-17, 17-18, 18-19",0
126,Ibrahim DAHADJ,"11-12, 12-13, 13-14, 14-15, 15-16, 16-17, 17-1...","11-12, 12-13, 13-14, 14-15, 15-16, 16-17, 17-1...","11-12, 12-13, 13-14, 14-15, 15-16, 16-17, 17-1..."
127,Ahmed Assem MEDDAH,18-19,18-19,0
128,Bekhouche mohamed amine,"14-15, 15-16, 16-17, 17-18, 18-19",0,"14-15, 15-16, 16-17, 17-18, 18-19"
129,Reguieg ali,"14-15, 15-16, 16-17","16-17, 17-18","14-15, 15-16, 16-17"

In [8]:
df['num-available-slots'] = df[['Sunday', 'Tuesday', 'Thursday']].apply(
    lambda row: sum(len(str(day).split(',')) for day in row if day != '0'), axis=1
)
df

,full name,Sunday,Tuesday,Thursday,num-available-slots
0,Mokri Abdelghani,11-12,11-12,13-14,3
1,Ayachi rameh,17-18,17-18,0,2
2,Madani mouenis,"16-17, 17-18, 18-19","12-13, 13-14, 14-15, 15-16, 16-17",0,8
3,Aoun ayoub,"14-15, 15-16, 16-17, 17-18, 18-19","14-15, 15-16, 16-17, 17-18, 18-19","14-15, 15-16, 16-17, 17-18, 18-19",15
4,SID IDRIS Omar,"12-13, 13-14, 14-15, 15-16, 16-17, 17-18, 18-19","17-18, 18-19","12-13, 13-14, 14-15, 15-16, 16-17, 17-18, 18-19",16
...,...,...,...,...,...
125,ABID Abdelkader,"16-17, 17-18, 18-19","16-17, 17-18, 18-19",0,6
126,Ibrahim DAHADJ,"11-12, 12-13, 13-14, 14-15, 15-16, 16-17, 17-1...","11-12, 12-13, 13-14, 14-15, 15-16, 16-17, 17-1...","11-12, 12-13, 13-14, 14-15, 15-16, 16-17, 17-1...",24
127,Ahmed Assem MEDDAH,18-19,18-19,0,2
128,Bekhouche mohamed amine,"14-15, 15-16, 16-17, 17-18, 18-19",0,"14-15, 15-16, 16-17, 17-18, 18-19",10
129,Reguieg ali,"14-15, 15-16, 16-17","16-17, 17-18","14-15, 15-16, 16-17",8

In [9]:
df=df.sort_values(by='num-available-slots')
df

,full name,Sunday,Tuesday,Thursday,num-available-slots
12,Moulay Abdelaziz,0,0,0,0
95,Badji abdelghani,0,0,0,0
122,KARTOUS Ahmed Abderrahmane,0,0,0,0
29,Zerinini idris,14-15,0,0,1
102,mahamdioua ala eddine,0,0,17-18,1
...,...,...,...,...,...
14,IHADADENE sidali,"13-14, 14-15, 15-16, 16-17, 17-18, 18-19","13-14, 14-15, 15-16, 16-17, 17-18, 18-19","13-14, 14-15, 15-16, 16-17, 17-18, 18-19",18
62,SERIR Ayoub,"13-14, 14-15, 16-17, 17-18, 18-19","12-13, 13-14, 14-15, 15-16, 16-17, 17-18, 18-19","11-12, 12-13, 13-14, 14-15, 15-16, 16-17, 17-1...",20
48,Alouani Youcef,"13-14, 14-15, 15-16, 16-17, 17-18, 18-19","13-14, 14-15, 15-16, 16-17, 17-18, 18-19","11-12, 12-13, 13-14, 14-15, 15-16, 16-17, 17-1...",20
126,Ibrahim DAHADJ,"11-12, 12-13, 13-14, 14-15, 15-16, 16-17, 17-1...","11-12, 12-13, 13-14, 14-15, 15-16, 16-17, 17-1...","11-12, 12-13, 13-14, 14-15, 15-16, 16-17, 17-1...",24
93,محمد مهدي مشكاك,"11-12, 12-13, 13-14, 14-15, 15-16, 16-17, 17-1...","11-12, 12-13, 13-14, 14-15, 15-16, 16-17, 17-1...","11-12, 12-13, 13-14, 14-15, 15-16, 16-17, 17-1...",24

#### delete those with zero hour slots

In [10]:
df=df.drop(index=df[df['num-available-slots']==0].index)
df = df.reset_index(drop=True)
df

,full name,Sunday,Tuesday,Thursday,num-available-slots
0,Zerinini idris,14-15,0,0,1
1,mahamdioua ala eddine,0,0,17-18,1
2,Mohammed Taher,0,13-14,0,1
3,بشيم عبد الرؤوف,0,0,13-14,1
4,MEDDAS Aymen,0,17-18,0,1
...,...,...,...,...,...
122,IHADADENE sidali,"13-14, 14-15, 15-16, 16-17, 17-18, 18-19","13-14, 14-15, 15-16, 16-17, 17-18, 18-19","13-14, 14-15, 15-16, 16-17, 17-18, 18-19",18
123,SERIR Ayoub,"13-14, 14-15, 16-17, 17-18, 18-19","12-13, 13-14, 14-15, 15-16, 16-17, 17-18, 18-19","11-12, 12-13, 13-14, 14-15, 15-16, 16-17, 17-1...",20
124,Alouani Youcef,"13-14, 14-15, 15-16, 16-17, 17-18, 18-19","13-14, 14-15, 15-16, 16-17, 17-18, 18-19","11-12, 12-13, 13-14, 14-15, 15-16, 16-17, 17-1...",20
125,Ibrahim DAHADJ,"11-12, 12-13, 13-14, 14-15, 15-16, 16-17, 17-1...","11-12, 12-13, 13-14, 14-15, 15-16, 16-17, 17-1...","11-12, 12-13, 13-14, 14-15, 15-16, 16-17, 17-1...",24
126,محمد مهدي مشكاك,"11-12, 12-13, 13-14, 14-15, 15-16, 16-17, 17-1...","11-12, 12-13, 13-14, 14-15, 15-16, 16-17, 17-1...","11-12, 12-13, 13-14, 14-15, 15-16, 16-17, 17-1...",24

In [11]:
df.tail()

,full name,Sunday,Tuesday,Thursday,num-available-slots
122,IHADADENE sidali,"13-14, 14-15, 15-16, 16-17, 17-18, 18-19","13-14, 14-15, 15-16, 16-17, 17-18, 18-19","13-14, 14-15, 15-16, 16-17, 17-18, 18-19",18
123,SERIR Ayoub,"13-14, 14-15, 16-17, 17-18, 18-19","12-13, 13-14, 14-15, 15-16, 16-17, 17-18, 18-19","11-12, 12-13, 13-14, 14-15, 15-16, 16-17, 17-1...",20
124,Alouani Youcef,"13-14, 14-15, 15-16, 16-17, 17-18, 18-19","13-14, 14-15, 15-16, 16-17, 17-18, 18-19","11-12, 12-13, 13-14, 14-15, 15-16, 16-17, 17-1...",20
125,Ibrahim DAHADJ,"11-12, 12-13, 13-14, 14-15, 15-16, 16-17, 17-1...","11-12, 12-13, 13-14, 14-15, 15-16, 16-17, 17-1...","11-12, 12-13, 13-14, 14-15, 15-16, 16-17, 17-1...",24
126,محمد مهدي مشكاك,"11-12, 12-13, 13-14, 14-15, 15-16, 16-17, 17-1...","11-12, 12-13, 13-14, 14-15, 15-16, 16-17, 17-1...","11-12, 12-13, 13-14, 14-15, 15-16, 16-17, 17-1...",24

#### creating new table to store final schedule hours in it

In [12]:
new_df=df

In [13]:
# Initialize a dictionary to keep track of the number of participants assigned to each time slot
slot_capacity_sunday = {
    '11-12': 0,
    '12-13': 0,
    '13-14': 0,
    '14-15': 0,
    '15-16': 0,
    '16-17': 0,
    '17-18': 0,
    '18-19': 0,
    # Add other time slots as necessary
}
slot_capacity_thursday = {
    '11-12': 0,
    '12-13': 0,
    '13-14': 0,
    '14-15': 0,
    '15-16': 0,
    '16-17': 0,
    '17-18': 0,
    '18-19': 0,
    # Add other time slots as necessary
}
slot_capacity_tuesday = {
    '11-12': 0,
    '12-13': 0,
    '13-14': 0,
    '14-15': 0,
    '15-16': 0,
    '16-17': 0,
    '17-18': 0,
    '18-19': 0,
    # Add other time slots as necessary
}
capacity={'Sunday':slot_capacity_sunday,'Tuesday':slot_capacity_tuesday,'Thursday':slot_capacity_thursday} 

# Loop through each single-slot participant
for index, row in df.iterrows():
    # Check available slots for Sunday, Tuesday, and Thursday
    for day in ['Sunday', 'Tuesday', 'Thursday']:
        if row[day] != '0': 
            preferred_slots = str(row[day]).split(', ') 
        
            for slot in preferred_slots:
                if slot in capacity[day] and capacity[day][slot] < 20:
                    # Assign the participant to the slot
                    capacity[day][slot] += 1
                    time_slots[day][slot].append(df.at[index, 'full name']) 
                    new_df.at[index, day] = slot  # Update the DataFrame
                    break  # Move to the next participant after assigning

##### diplaying final schedule

In [14]:
new_df

                  full name Sunday Tuesday Thursday  num-available-slots
0           Zerinini idris   14-15       0        0                    1
1    mahamdioua ala eddine       0       0    17-18                    1
2           Mohammed Taher       0   13-14        0                    1
3          بشيم عبد الرؤوف       0       0    13-14                    1
4              MEDDAS Aymen      0   17-18        0                    1
..                      ...    ...     ...      ...                  ...
122        IHADADENE sidali  13-14   13-14    15-16                   18
123             SERIR Ayoub  13-14   12-13    11-12                   20
124          Alouani Youcef  13-14   13-14    12-13                   20
125          Ibrahim DAHADJ  11-12   11-12    12-13                   24
126         محمد مهدي مشكاك  11-12   11-12    12-13                   24

[127 rows x 5 columns]

In [15]:
new_df.tail()

            full name Sunday Tuesday Thursday  num-available-slots
122  IHADADENE sidali  13-14   13-14    15-16                   18
123       SERIR Ayoub  13-14   12-13    11-12                   20
124    Alouani Youcef  13-14   13-14    12-13                   20
125    Ibrahim DAHADJ  11-12   11-12    12-13                   24
126   محمد مهدي مشكاك  11-12   11-12    12-13                   24

#### final slot effectif

In [16]:
for day in ['Sunday', 'Tuesday', 'Thursday']:
    for slot in capacity[day].keys():

        print(f'list of participants for {day} at slot {slot} {time_slots[day][slot]}')

list of participants for Sunday at slot 11-12 ['Kismoune khalil', 'Mokri Abdelghani', 'kessouri ahmed rayan', 'saoudi sifeddine', 'Mechkour Ilyas', 'Abdellah SLIMANI', 'Hetraf wassim', 'Zakaria Meftahi', 'Ibrahim DAHADJ', 'محمد مهدي مشكاك']
list of participants for Sunday at slot 12-13 ['Boudjema abdelillah ', 'Saadi Sami', 'BENDAR Mohamed Ramzi', 'SID IDRIS Omar']
list of participants for Sunday at slot 13-14 ['MOHANNED REMILI', 'Tennah hichem', 'Belayati abdelhadi', 'Bouaziz Amine', 'Hamitouche Ahmed ', 'Bouanane Mohammed Abdelnnour ', 'Djeddi Ilyes Abdlkarim', 'Benmakhloufi Haithem ', 'Benmakhloufi Haithem ', 'Bouali younes Abderrahmane ', 'slimane tizi', 'AOUCHICHE MOHAMED AMINE', 'ADHIMEN Abdelatif', 'Youssouf Berriche', 'Allalou Abdelghani ', 'Hammadou Abdellah ', 'Cherfouhi Mohamed Abdelhadi ', 'IHADADENE sidali', 'SERIR Ayoub', 'Alouani Youcef']
list of participants for Sunday at slot 14-15 ['Zerinini idris ', 'Benhadjer Adem', 'لصهوب مصطفى ابراهيم', 'Chiguer Mohamed Hessam Eddine\xa0', 'Reguieg ali', 'AMIA Yassine ', 'Bekhouche mohamed amine', 'Aoun ayoub', 'Achouri Mohamed Chakib', 'Bouzid Islem', 'Bourega abderrahmane']
list of participants for Sunday at slot 15-16 ['Aouanouk Ahcene Zakaria ', 'Hamour Aimen Hocine ', 'Ramdane YAHI', 'AIT AHMED RACIM ', 'Ouldali Abd El Madjid', 'DJEMMAD Ali Seif Eddine', 'AMRAR Mohammed Yasser ', 'GREBICI Mohamed Amine']
list of participants for Sunday at slot 16-17 ['Hammami Imad Eddine ', 'Labed Zine ddine', 'Boudiaf dhiaelhak ', 'Gharbi Moncef ', 'BOUGHEZALA AHMED ISLAM ', 'ATCHI Abderrezak ', 'Abdelhak Mohamed Houssem Eddine ', 'ABID Abdelkader', 'dechera Abderahim', 'Hicham DJAFER KHODJA ', 'Madani mouenis ', 'abdelkassa ibrahim', 'Ayoub Nasri', 'Lamara abderrahmane', 'Issam Menas ', 'Benzaoui Ahmed yassine ', 'MOUICI Abdelouahab ', 'yahia anis himeur', 'Bouzidi mohamed abderrahmane', 'Hadjout yacine']
list of participants for Sunday at slot 17-18 ['Ayachi rameh', 'مزاغشية نعيم ', 'Ouldkhaoua Mohamed amine', 'Mohamed Tahar ', 'Selmi lotfi', 'Hocine bachioua ', 'Siad abdeslam', 'Hallal rayan mohamed el habib', 'Yassine ZAOUADI', 'Abdallah Mohellebi', 'LECHELAH ABDERRAHMANE ', 'Abderaouf KHELFAOUI ', 'Lachi Nassim', 'Denni Yasser ', 'Ouzar Mohamed Yacine ', 'Boulabba Inel Dhia Eddine ', 'BOULMIS Abdennour', 'Belkhiri Djamel Ibrahim ', 'Amarouche salim anis', 'alem imad eddine']
list of participants for Sunday at slot 18-19 ['merouane riad', 'Semrouni Adam', 'Ahmed Assem MEDDAH', 'Betrouni Abdeljalil', 'Seghour Abderrahmane ', 'Tenfir abderrahmane ', 'Kardjana bahaeddine', 'Akram KESSAL ', 'bouchemal mohamed adlane', 'Lebgaa rached el mahdi', 'Mohamed BAHLOULI ', 'Fouial Elmoncef ', 'Mesbah Sami Anes', 'Amine Boutaghane', 'Ali Tatar Amine Bourhane', 'Mohammed Chrif Brahimi']
list of participants for Tuesday at slot 11-12 ['Mokri Abdelghani', 'saoudi sifeddine', 'Mechkour Ilyas', 'Saadi Sami', 'Mesbah Sami Anes', 'Hetraf wassim', 'Zakaria Meftahi', 'Ibrahim DAHADJ', 'محمد مهدي مشكاك']
list of participants for Tuesday at slot 12-13 ['Madani mouenis ', 'AIT AHMED RACIM ', 'BENDAR Mohamed Ramzi', 'yahia anis himeur', 'SERIR Ayoub']
list of participants for Tuesday at slot 13-14 ['Mohammed Taher ', 'AGGOUNE ABDERRAHMANE RYAD', 'Hallal rayan mohamed el habib', 'Lachi Nassim', 'Bouanane Mohammed Abdelnnour ', 'Djeddi Ilyes Abdlkarim', 'Benmakhloufi Haithem ', 'Benmakhloufi Haithem ', 'dechera Abderahim', 'AOUCHICHE MOHAMED AMINE', 'ADHIMEN Abdelatif', 'Allalou Abdelghani ', 'Bouzidi mohamed abderrahmane', 'Hadjout yacine', 'Bourega abderrahmane', 'IHADADENE sidali', 'Alouani Youcef']
list of participants for Tuesday at slot 14-15 ['Diaa eddine Ghouk', 'BAALI Taha', 'Benhadjer Adem', 'Gharbi Moncef ', 'BOUGHEZALA AHMED ISLAM ', 'Chiguer Mohamed Hessam Eddine\xa0', 'Ramdane YAHI', 'MOUICI Abdelouahab ', 'GREBICI Mohamed Amine', 'Aoun ayoub', 'Bouzid Islem']
list of participants for Tuesday at slot 15-16 ['Mohamed Tahar ', 'Tennah hichem', 'Aouanouk Ahcene Zakaria ', 'Abdallah Mohellebi', 'AMIA Yassine ', 'Anis adjou', 'Amine Boutaghane', 'Ouldali Abd El Madjid', 'DJEMMAD Ali Seif Eddine', 'AMRAR Mohammed Yasser ']
list of participants for Tuesday at slot 16-17 ['Semrouni Adam', 'Ghribi Mehdi', 'Hammami Imad Eddine ', 'Kardjana bahaeddine', 'ATCHI Abderrezak ', 'Yassine ZAOUADI', 'Abdelhak Mohamed Houssem Eddine ', 'ABID Abdelkader', 'Reguieg ali', 'bouchemal mohamed adlane', 'Ayoub Nasri', 'Lamara abderrahmane', 'Issam Menas ', 'Benzaoui Ahmed yassine ', 'Mohammed Chrif Brahimi']
list of participants for Tuesday at slot 17-18 ['MEDDAS Aymen', 'MAHDID MOHAMED ACHERAF', 'Ouzar Mohamed Yacine ', 'Ayachi rameh', 'مزاغشية نعيم ', 'Labed Zine ddine', 'Tenfir abderrahmane ', 'Ouldkhaoua Mohamed amine', 'Boudiaf dhiaelhak ', 'MOHANNED REMILI', 'Hocine bachioua ', 'Siad abdeslam', 'LECHELAH ABDERRAHMANE ', 'Abderaouf KHELFAOUI ', 'Denni Yasser ', 'Ouzar Mohamed Yacine ', 'Boulabba Inel Dhia Eddine ', 'BOULMIS Abdennour', 'Belkhiri Djamel Ibrahim ', 'Amarouche salim anis']
list of participants for Tuesday at slot 18-19 ['merouane riad', 'Djouallah dhia eddine ', 'Ahmed Assem MEDDAH', 'MEDJOUBI ABDERRAHIM', 'Betrouni Abdeljalil', 'Seghour Abderrahmane ', 'Selmi lotfi', 'Akram KESSAL ', 'alem imad eddine', 'Bouali younes Abderrahmane ', 'Hicham DJAFER KHODJA ', 'Laoumir Lakhdar Abdelhassib', 'Lebgaa rached el mahdi', 'Mohamed BAHLOULI ', 'Boudjema abdelillah ', 'Hamour Aimen Hocine ', 'Fouial Elmoncef ', 'Youssouf Berriche', 'Abdellah SLIMANI', 'Ali Tatar Amine Bourhane']
list of participants for Thursday at slot 11-12 ['Mohamed Tahar ', 'Hocine bachioua ', 'Belayati abdelhadi', 'achiche Hocine Abdelaziz ', 'Amiraoui Naim Abdelmouain', 'alem imad eddine', 'dechera Abderahim', 'slimane tizi', 'Mechkour Ilyas', 'AOUCHICHE MOHAMED AMINE', 'bouchemal mohamed adlane', 'abdelkassa ibrahim', 'Hamour Aimen Hocine ', 'Saadi Sami', 'AIT AHMED RACIM ', 'Hetraf wassim', 'Ali Tatar Amine Bourhane', 'Mohammed Chrif Brahimi', 'Achouri Mohamed Chakib', 'SERIR Ayoub']
list of participants for Thursday at slot 12-13 ['AMIA Yassine ', 'Mesbah Sami Anes', 'BENDAR Mohamed Ramzi', 'SID IDRIS Omar', 'Alouani Youcef', 'Ibrahim DAHADJ', 'محمد مهدي مشكاك']
list of participants for Thursday at slot 13-14 ['بشيم عبد الرؤوف ', 'Ghribi Mehdi', 'Rahmoune Rayan', 'BAALI Taha', 'Mokri Abdelghani', 'Labed Zine ddine', 'Kardjana bahaeddine', 'MOHANNED REMILI', 'AGGOUNE ABDERRAHMANE RYAD', 'BOUGHEZALA AHMED ISLAM ', 'saoudi sifeddine', 'Hamitouche Ahmed ', 'Bouanane Mohammed Abdelnnour ', 'Djeddi Ilyes Abdlkarim', 'Benmakhloufi Haithem ', 'Benmakhloufi Haithem ', 'Mohamed BAHLOULI ', 'Lamara abderrahmane', 'ADHIMEN Abdelatif', 'Ramdane YAHI']
list of participants for Thursday at slot 14-15 ['Diaa eddine Ghouk', 'Kismoune khalil', 'Seghour Abderrahmane ', 'Benhadjer Adem', 'لصهوب مصطفى ابراهيم', 'kessouri ahmed rayan', 'Lachi Nassim', 'Chiguer Mohamed Hessam Eddine\xa0', 'Laoumir Lakhdar Abdelhassib', 'Reguieg ali', 'Fouial Elmoncef ', 'Anis adjou', 'Bekhouche mohamed amine', 'Abdellah SLIMANI', 'Amine Boutaghane', 'Hammadou Abdellah ', 'Cherfouhi Mohamed Abdelhadi ', 'Ouldali Abd El Madjid', 'MOUICI Abdelouahab ', 'DJEMMAD Ali Seif Eddine']
list of participants for Thursday at slot 15-16 ['Akrouah Abdnour', 'Aouanouk Ahcene Zakaria ', 'Boulabba Inel Dhia Eddine ', 'Lebgaa rached el mahdi', 'yahia anis himeur', 'AMRAR Mohammed Yasser ', 'GREBICI Mohamed Amine', 'Bouzidi mohamed abderrahmane', 'Aoun ayoub', 'Bouzid Islem', 'Hadjout yacine', 'Bourega abderrahmane', 'IHADADENE sidali']
list of participants for Thursday at slot 16-17 ['Tenfir abderrahmane ', 'Boudiaf dhiaelhak ', 'Abdelhak Mohamed Houssem Eddine ', 'Hicham DJAFER KHODJA ', 'Ayoub Nasri', 'Issam Menas ', 'Benzaoui Ahmed yassine ', 'Allalou Abdelghani ']
list of participants for Thursday at slot 17-18 ['mahamdioua ala eddine ', 'مزاغشية نعيم ', 'Ouldkhaoua Mohamed amine', 'Selmi lotfi', 'LECHELAH ABDERRAHMANE ', 'Abderaouf KHELFAOUI ', 'Denni Yasser ', 'Ouzar Mohamed Yacine ', 'BOULMIS Abdennour', 'Belkhiri Djamel Ibrahim ', 'Amarouche salim anis', 'Youssouf Berriche']
list of participants for Thursday at slot 18-19 ['Djouallah dhia eddine ', 'MEDJOUBI ABDERRAHIM', 'Betrouni Abdeljalil', 'Akram KESSAL ']

In [17]:
time_slots

{'Sunday': {'11-12': ['Kismoune khalil',
   'Mokri Abdelghani',
   'kessouri ahmed rayan',
   'saoudi sifeddine',
   'Mechkour Ilyas',
   'Abdellah SLIMANI',
   'Hetraf wassim',
   'Zakaria Meftahi',
   'Ibrahim DAHADJ',
   'محمد مهدي مشكاك'],
  '12-13': ['Boudjema abdelillah ',
   'Saadi Sami',
   'BENDAR Mohamed Ramzi',
   'SID IDRIS Omar'],
  '13-14': ['MOHANNED REMILI',
   'Tennah hichem',
   'Belayati abdelhadi',
   'Bouaziz Amine',
   'Hamitouche Ahmed ',
   'Bouanane Mohammed Abdelnnour ',
   'Djeddi Ilyes Abdlkarim',
   'Benmakhloufi Haithem ',
   'Benmakhloufi Haithem ',
   'Bouali younes Abderrahmane ',
   'slimane tizi',
   'AOUCHICHE MOHAMED AMINE',
   'ADHIMEN Abdelatif',
   'Youssouf Berriche',
   'Allalou Abdelghani ',
   'Hammadou Abdellah ',
   'Cherfouhi Mohamed Abdelhadi ',
   'IHADADENE sidali',
   'SERIR Ayoub',
   'Alouani Youcef'],
  '14-15': ['Zerinini idris ',
   'Benhadjer Adem',
   'لصهوب مصطفى ابراهيم',
   'Chiguer Mohamed Hessam Eddine\xa0',
   'Reguieg ali',
   'AMIA Yassine ',
   'Bekhouche mohamed amine',
   'Aoun ayoub',
   'Achouri Mohamed Chakib',
   'Bouzid Islem',
   'Bourega abderrahmane'],
  '15-16': ['Aouanouk Ahcene Zakaria ',
   'Hamour Aimen Hocine ',
   'Ramdane YAHI',
   'AIT AHMED RACIM ',
   'Ouldali Abd El Madjid',
   'DJEMMAD Ali Seif Eddine',
   'AMRAR Mohammed Yasser ',
   'GREBICI Mohamed Amine'],
  '16-17': ['Hammami Imad Eddine ',
   'Labed Zine ddine',
   'Boudiaf dhiaelhak ',
   'Gharbi Moncef ',
   'BOUGHEZALA AHMED ISLAM ',
   'ATCHI Abderrezak ',
   'Abdelhak Mohamed Houssem Eddine ',
   'ABID Abdelkader',
   'dechera Abderahim',
   'Hicham DJAFER KHODJA ',
   'Madani mouenis ',
   'abdelkassa ibrahim',
   'Ayoub Nasri',
   'Lamara abderrahmane',
   'Issam Menas ',
   'Benzaoui Ahmed yassine ',
   'MOUICI Abdelouahab ',
   'yahia anis himeur',
   'Bouzidi mohamed abderrahmane',
   'Hadjout yacine'],
  '17-18': ['Ayachi rameh',
   'مزاغشية نعيم ',
   'Ouldkhaoua Mohamed amine',
   'Mohamed Tahar ',
   'Selmi lotfi',
   'Hocine bachioua ',
   'Siad abdeslam',
   'Hallal rayan mohamed el habib',
   'Yassine ZAOUADI',
   'Abdallah Mohellebi',
   'LECHELAH ABDERRAHMANE ',
   'Abderaouf KHELFAOUI ',
   'Lachi Nassim',
   'Denni Yasser ',
   'Ouzar Mohamed Yacine ',
   'Boulabba Inel Dhia Eddine ',
   'BOULMIS Abdennour',
   'Belkhiri Djamel Ibrahim ',
   'Amarouche salim anis',
   'alem imad eddine'],
  '18-19': ['merouane riad',
   'Semrouni Adam',
   'Ahmed Assem MEDDAH',
   'Betrouni Abdeljalil',
   'Seghour Abderrahmane ',
   'Tenfir abderrahmane ',
   'Kardjana bahaeddine',
   'Akram KESSAL ',
   'bouchemal mohamed adlane',
   'Lebgaa rached el mahdi',
   'Mohamed BAHLOULI ',
   'Fouial Elmoncef ',
   'Mesbah Sami Anes',
   'Amine Boutaghane',
   'Ali Tatar Amine Bourhane',
   'Mohammed Chrif Brahimi']},
 'Tuesday': {'11-12': ['Mokri Abdelghani',
   'saoudi sifeddine',
   'Mechkour Ilyas',
   'Saadi Sami',
   'Mesbah Sami Anes',
   'Hetraf wassim',
   'Zakaria Meftahi',
   'Ibrahim DAHADJ',
   'محمد مهدي مشكاك'],
  '12-13': ['Madani mouenis ',
   'AIT AHMED RACIM ',
   'BENDAR Mohamed Ramzi',
   'yahia anis himeur',
   'SERIR Ayoub'],
  '13-14': ['Mohammed Taher ',
   'AGGOUNE ABDERRAHMANE RYAD',
   'Hallal rayan mohamed el habib',
   'Lachi Nassim',
   'Bouanane Mohammed Abdelnnour ',
   'Djeddi Ilyes Abdlkarim',
   'Benmakhloufi Haithem ',
   'Benmakhloufi Haithem ',
   'dechera Abderahim',
   'AOUCHICHE MOHAMED AMINE',
   'ADHIMEN Abdelatif',
   'Allalou Abdelghani ',
   'Bouzidi mohamed abderrahmane',
   'Hadjout yacine',
   'Bourega abderrahmane',
   'IHADADENE sidali',
   'Alouani Youcef'],
  '14-15': ['Diaa eddine Ghouk',
   'BAALI Taha',
   'Benhadjer Adem',
   'Gharbi Moncef ',
   'BOUGHEZALA AHMED ISLAM ',
   'Chiguer Mohamed Hessam Eddine\xa0',
   'Ramdane YAHI',
   'MOUICI Abdelouahab ',
   'GREBICI Mohamed Amine',
   'Aoun ayoub',
   'Bouzid Islem'],
  '15-16': ['Mohamed Tahar ',
   'Tennah hichem',
   'Aouanouk Ahcene Zakaria ',
   'Abdallah Mohellebi',
   'AMIA Yassine ',
   'Anis adjou',
   'Amine Boutaghane',
   'Ouldali Abd El Madjid',
   'DJEMMAD Ali Seif Eddine',
   'AMRAR Mohammed Yasser '],
  '16-17': ['Semrouni Adam',
   'Ghribi Mehdi',
   'Hammami Imad Eddine ',
   'Kardjana bahaeddine',
   'ATCHI Abderrezak ',
   'Yassine ZAOUADI',
   'Abdelhak Mohamed Houssem Eddine ',
   'ABID Abdelkader',
   'Reguieg ali',
   'bouchemal mohamed adlane',
   'Ayoub Nasri',
   'Lamara abderrahmane',
   'Issam Menas ',
   'Benzaoui Ahmed yassine ',
   'Mohammed Chrif Brahimi'],
  '17-18': ['MEDDAS Aymen',
   'MAHDID MOHAMED ACHERAF',
   'Ouzar Mohamed Yacine ',
   'Ayachi rameh',
   'مزاغشية نعيم ',
   'Labed Zine ddine',
   'Tenfir abderrahmane ',
   'Ouldkhaoua Mohamed amine',
   'Boudiaf dhiaelhak ',
   'MOHANNED REMILI',
   'Hocine bachioua ',
   'Siad abdeslam',
   'LECHELAH ABDERRAHMANE ',
   'Abderaouf KHELFAOUI ',
   'Denni Yasser ',
   'Ouzar Mohamed Yacine ',
   'Boulabba Inel Dhia Eddine ',
   'BOULMIS Abdennour',
   'Belkhiri Djamel Ibrahim ',
   'Amarouche salim anis'],
  '18-19': ['merouane riad',
   'Djouallah dhia eddine ',
   'Ahmed Assem MEDDAH',
   'MEDJOUBI ABDERRAHIM',
   'Betrouni Abdeljalil',
   'Seghour Abderrahmane ',
   'Selmi lotfi',
   'Akram KESSAL ',
   'alem imad eddine',
   'Bouali younes Abderrahmane ',
   'Hicham DJAFER KHODJA ',
   'Laoumir Lakhdar Abdelhassib',
   'Lebgaa rached el mahdi',
   'Mohamed BAHLOULI ',
   'Boudjema abdelillah ',
   'Hamour Aimen Hocine ',
   'Fouial Elmoncef ',
   'Youssouf Berriche',
   'Abdellah SLIMANI',
   'Ali Tatar Amine Bourhane']},
 'Thursday': {'11-12': ['Mohamed Tahar ',
   'Hocine bachioua ',
   'Belayati abdelhadi',
   'achiche Hocine Abdelaziz ',
   'Amiraoui Naim Abdelmouain',
   'alem imad eddine',
   'dechera Abderahim',
   'slimane tizi',
   'Mechkour Ilyas',
   'AOUCHICHE MOHAMED AMINE',
   'bouchemal mohamed adlane',
   'abdelkassa ibrahim',
   'Hamour Aimen Hocine ',
   'Saadi Sami',
   'AIT AHMED RACIM ',
   'Hetraf wassim',
   'Ali Tatar Amine Bourhane',
   'Mohammed Chrif Brahimi',
   'Achouri Mohamed Chakib',
   'SERIR Ayoub'],
  '12-13': ['AMIA Yassine ',
   'Mesbah Sami Anes',
   'BENDAR Mohamed Ramzi',
   'SID IDRIS Omar',
   'Alouani Youcef',
   'Ibrahim DAHADJ',
   'محمد مهدي مشكاك'],
  '13-14': ['بشيم عبد الرؤوف ',
   'Ghribi Mehdi',
   'Rahmoune Rayan',
   'BAALI Taha',
   'Mokri Abdelghani',
   'Labed Zine ddine',
   'Kardjana bahaeddine',
   'MOHANNED REMILI',
   'AGGOUNE ABDERRAHMANE RYAD',
   'BOUGHEZALA AHMED ISLAM ',
   'saoudi sifeddine',
   'Hamitouche Ahmed ',
   'Bouanane Mohammed Abdelnnour ',
   'Djeddi Ilyes Abdlkarim',
   'Benmakhloufi Haithem ',
   'Benmakhloufi Haithem ',
   'Mohamed BAHLOULI ',
   'Lamara abderrahmane',
   'ADHIMEN Abdelatif',
   'Ramdane YAHI'],
  '14-15': ['Diaa eddine Ghouk',
   'Kismoune khalil',
   'Seghour Abderrahmane ',
   'Benhadjer Adem',
   'لصهوب مصطفى ابراهيم',
   'kessouri ahmed rayan',
   'Lachi Nassim',
   'Chiguer Mohamed Hessam Eddine\xa0',
   'Laoumir Lakhdar Abdelhassib',
   'Reguieg ali',
   'Fouial Elmoncef ',
   'Anis adjou',
   'Bekhouche mohamed amine',
   'Abdellah SLIMANI',
   'Amine Boutaghane',
   'Hammadou Abdellah ',
   'Cherfouhi Mohamed Abdelhadi ',
   'Ouldali Abd El Madjid',
   'MOUICI Abdelouahab ',
   'DJEMMAD Ali Seif Eddine'],
  '15-16': ['Akrouah Abdnour',
   'Aouanouk Ahcene Zakaria ',
   'Boulabba Inel Dhia Eddine ',
   'Lebgaa rached el mahdi',
   'yahia anis himeur',
   'AMRAR Mohammed Yasser ',
   'GREBICI Mohamed Amine',
   'Bouzidi mohamed abderrahmane',
   'Aoun ayoub',
   'Bouzid Islem',
   'Hadjout yacine',
   'Bourega abderrahmane',
   'IHADADENE sidali'],
  '16-17': ['Tenfir abderrahmane ',
   'Boudiaf dhiaelhak ',
   'Abdelhak Mohamed Houssem Eddine ',
   'Hicham DJAFER KHODJA ',
   'Ayoub Nasri',
   'Issam Menas ',
   'Benzaoui Ahmed yassine ',
   'Allalou Abdelghani '],
  '17-18': ['mahamdioua ala eddine ',
   'مزاغشية نعيم ',
   'Ouldkhaoua Mohamed amine',
   'Selmi lotfi',
   'LECHELAH ABDERRAHMANE ',
   'Abderaouf KHELFAOUI ',
   'Denni Yasser ',
   'Ouzar Mohamed Yacine ',
   'BOULMIS Abdennour',
   'Belkhiri Djamel Ibrahim ',
   'Amarouche salim anis',
   'Youssouf Berriche'],
  '18-19': ['Djouallah dhia eddine ',
   'MEDJOUBI ABDERRAHIM',
   'Betrouni Abdeljalil',
   'Akram KESSAL ']}}

In [18]:
 for day in ['Sunday', 'Tuesday', 'Thursday']:
        
    print(f'total participants for day {day} is {capacity[day]}')

total participants for day Sunday is {'11-12': 10, '12-13': 4, '13-14': 20, '14-15': 11, '15-16': 8, '16-17': 20, '17-18': 20, '18-19': 16}
total participants for day Tuesday is {'11-12': 9, '12-13': 5, '13-14': 17, '14-15': 11, '15-16': 10, '16-17': 15, '17-18': 20, '18-19': 20}
total participants for day Thursday is {'11-12': 20, '12-13': 7, '13-14': 20, '14-15': 20, '15-16': 13, '16-17': 8, '17-18': 12, '18-19': 4}